* {
  /* outline: 3px solid orange; */
}


.calculator-board {
  display: grid;

  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;

  max-width: 40em;
  max-height: 60em;

  margin: 5em auto;

  border: 1px solid black;
  border-radius: 0.5em;

}

.square-button {
  height: 10em;
  border: 1px solid black;

  text-align: center;
}

h3 {
  height: 100%;
  font-size: 3em;
}

.input-field {
  height: 10em;
  grid-row: 1;
  grid-column: 1/5;

  
}