
.calculator-board {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  max-width: 20em;
  max-height: 30em;
  margin: 10em auto;
  border: 1px solid black;
  border-radius: 0.5em;
}

.square-buttons {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row: 2/5;
}

.square-button {
  height: 80px;
  text-align: center;
}

.square-button:hover {
  background-color: antiquewhite;
}

h3 {
  height: 100%;
  font-size: 1.5em;
}

.input-field {
  grid-row: 1;
  grid-column: 1;
  height: 80px;
  font-size: 4em;
  background-color: bisque;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid grey;
}
