
:root {
  --color1: rgba(89, 195, 195, 1);
  --color2: rgba(82, 72, 156, 1);
  --color3: rgba(235, 235, 235, 1);
  --color4: rgba(202, 210, 197, 1);
  --color5: rgba(132, 169, 140, 1);
}


body {
  background-color: var(--color3);
}

.calculator-board {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  max-width: 20em;
  max-height: 30em;
  margin: 10em auto;
  border-radius: 0.5em;
  border: orange solid 10px;
}

.square-buttons {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row: 2/5;
}

.square-button {
  height: 80px;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 23px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 23px -1px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 23px -1px rgba(0,0,0,0.75);
  border: 1px solid grey;
}

.square-button:hover {
  background-color: var(--color4);
  
}

.square-button:active {
  -webkit-box-shadow: inset 5px 5px 80px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 5px 5px 80px -5px rgba(0,0,0,0.75);
  box-shadow: inset 5px 5px 50px -5px rgba(0,0,0,0.75);
}

h3 {
  font-size: 1.5em;
}

.input-field {
  grid-row: 1;
  grid-column: 1;
  height: 80px;
  font-size: 4em;
  background-color: var(--color3);
  box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
  outline: 1px solid grey;
  outline-offset: -3px;
  -moz-outline-radius: 5px;
  padding-left: 6px;
  box-shadow: inset 0px 0px 1px 5px rgba(73, 73, 73, 0.75);
}
